body {
  max-width: 1440px;
  margin: 0 auto;
  background: #0e1014;
  &::before {
    content: "";
    position: absolute;
    top: 251px;
    width: 311px;
    height: 311px;
    border-radius: 311px;
    opacity: 0.5;
    background: #961a1a;
    filter: blur(196px);
  }
  &::after {
    content: "";
    left: 45vw;
    top: -154px;
    position: absolute;
    width: 259px;
    height: 259px;
    border-radius: 259px;
    opacity: 0.5;
    background: #833ab4;
    filter: blur(196px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (max-width: 425px) {
  body {
    &::before {
      top: 40vh;
    }
    &::after {
      left: 35vw;
      top: 25vh;
    }
  }
}

@media (max-width: 375px) {
  body {
    &::before {
      top: 40vh;
    }
    &::after {
      left: 25vw;
      top: 25vh;
    }
  }
}

@media (max-width: 325px) {
  body {
    &::before {
      top: 40vh;
    }
    &::after {
      left: 18vw;
      top: 25vh;
    }
  }
}
